@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PrimeFitness.Models.Entities;
@model List<DanhMuc>


@foreach (DanhMuc item in Model)
{
    <div><a href="/category/@item.MaDM">@item.TenDM</a></div>
}



